.flex-container-certif {
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jsitgid-wrapper {
    padding: 50px;
}


@media screen and (max-width: 768px) {
    .jsitgid-wrapper {
       padding: 0px;
    }
}
